* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ========================banner_section=================== */
.recommend_box .part_1 span {
    border-bottom: 1.5px solid #2c2c2c;
}
.banner_section .area_banner_image {
    width: 100%;
    height: 355px;
    position: relative
}

.banner_section .area_banner_image img {
    width: 100%;
    height: 100%;
}

.banner_section .area_banner_image .area_banner_text {
    font-family: Amigos-7BL14;
    font-size: 85px;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ====================== */
.welcome_content_section {
    background-color: #fceee4;
    padding: 120px 0px 110px 0px;
}

.welcome_content_section .content h4 {
    font-size: 40px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 0px;
}

.welcome_content_section .content h6 {
    color: #01bc8e;
    font-family: Montserrat-SemiBold_0;
    font-size: 40px;
}

.amigo_style {
    font-family: Amigos-7BL14;
    font-size: 90px;
    color: #2c2c2c;
    padding: 20px 0px;
}

.welcome_content_section .content .p_graph {
    color: #2c2c2c;
    font-family: Montserrat-Medium_0;
    font-size: 16px;
}

.sincerly {
    font-family: Montserrat-SemiBold_0;
    font-size: 18px;
    margin-bottom: 0px;
}

.area_footer .barnd_size {
    height: 55px;
}

.area_footer .barnd_size img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.welcome_adress {
    margin-bottom: 0px;
    font-size: 16px;
    font-family: Montserrat-SemiBold_0;
    color: #2c2c2c;
}

/* ================================== */
.event_calendar_section {
    background-color: #fceee4;
    padding: 75px 0px;
}

.event_calendar_section .event_calendar {
    display: flex;
}

.event_calendar_section .calendar_card {
    width: 92px;
    height: 92px;
    border: 2px solid #2c2c2c;
    position: relative;
}

.event_calendar_section .calendar_card .cal_month {
    font-size: 30px;
    font-family: Montserrat-SemiBold_0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event_calendar_section .calendar_text {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-top: 20px;
    font-size: 18px;
    font-family: Montserrat-SemiBold_0;
}

.event_calendar_section .calc {
    margin-left: 50px;
}

/* ============================== */
.safetytips_section {
    background-color: #fceee4;
}

.tips_content_images {
    border-bottom: 1.5px dashed #2c2c2c;
    padding: 25px 0px;
}

.safetytips_section .tips_content_images .tips_images_main {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1.5px solid #3ccca8;
    position: relative;
    float: right;
}

.safetytips_section .tips_content_images .tips_images_main .tips_images {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.safetytips_section .tips_content_images .tips_images_main .tips_images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tips_text h5 {
    color: #2c2c2c;
    font-family: Montserrat-Medium_0;
    font-size: 20px;
}

.tips_text p {
    color: #2c2c2c;
    font-family: Montserrat-Medium_0;
    font-size: 15px;
}

.incase_fire {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.incase_fire li {
    padding: 7px 0px;
    color: #2c2c2c;
    font-family: Montserrat-Medium_0;
    font-size: 15px;
}

.incase_fire li span i {
    font-size: 10px;
    color: #01bc8e;
    padding: 0px 10px;
}

.safety_tips .barnd_size {
    width: 180px;
    height: 55px;
    margin: auto;
}

.safety_tips .barnd_size img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tips_rights_side p {
    color: #2c2c2c;
    font-family: Montserrat-Medium_0;
    font-size: 15px;
}

.tips_rights_side h5 {
    color: #2c2c2c;
    font-family: Montserrat-Medium_0;
    font-size: 20px;
}

.tips_rights_side .green_text {
    color: #01bc8e;
    font-family: Montserrat-Medium_0;
    font-size: 17px;
    padding: 10px 0px;
}

.green_line {
    width: 100px;
    background-color: #01bc8e;
    height: 3px;
    margin-top: 35px;
}

.green_text_h5 {
    color: #01bc8e !important;
    padding: 10px 0px;
}

.tips_rights_side .incase_fire li {
    padding: 10px 0px;
}

/* ========================== */
.recomended_section {
    background-color: #fceee4;
}

.recomended_section .left_recommend p i {
    color: #01bc8e;
    padding: 0px 10px;
}

.recomended_section .left_recommend p span {
    font-family: Montserrat-SemiBold_0;
    font-size: 20px;
    border-bottom: 1.5px solid #2c2c2c;
}

.recomended_section .recommend_box {
    width: auto;
    height: 202px;
    border: 1px solid #2c2c2c;
    position: relative;
    padding: 21px;
}

/* .rec_text_cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.recomended_section .green_text {
    color: #01bc8e;
    font-size: 22px;
    font-weight: 600;
    margin-left: 40px;
    border-bottom: 1.5px solid #01bc8e;
}

.recommend_box .rec_text_cnt {
    padding-left: 30px;
}

.recommend_box .part_1 {
    font-size: 20px;
    font-family: Montserrat-SemiBold_0;
    padding-bottom: 10px;
}

.recommend_box .part_2 {
    font-family: Montserrat-Medium_0;
    font-size: 18px;
    padding: 5px 0px;
    margin-bottom: 5px;
}

.rec_adress_steak .part_2 {
    font-family: Montserrat-Medium_0;
    font-size: 16px;
    padding: 15px 0px;
    margin-bottom: 5px;
}

.rec_adress_steak .part_2 a {
    color: #2c2c2c;
}

.recommend_box .tele {
    color: #2c2c2c;
    font-size: 16px;
}

.recommend_box h6 {
    font-family: Montserrat-Bold;
}

.recommend_box .small_box {
    width: 20px;
    height: 35px;
    background-color: #01bc8e;
    position: absolute;
    top: 0px;
    left: 0px;
}

.right_recommend {
    padding-top: 65px;
}

.recomended_section .green_undeline {
    width: 177px;
    height: 3px;
    background-color: #01bc8e;
    margin: auto;
}

.steak_box .steak_content {
    font-size: 18px;
    font-family: Montserrat-SemiBold_0;
    color: #01bc8e;
    width: auto;
    height: 110px;
    border: 1px solid #2c2c2c;
    position: relative;
}

.steak_box .steak_content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.soup_heading span {
    font-family: Montserrat-SemiBold_0;
    font-size: 18px;
    border-bottom: 1.5px solid #2c2c2c;
}

.soup_heading i {
    padding-right: 15px;
}

.left_soup p i {
    font-size: 12px;
    color: #01bc8e;
    padding-right: 15px;
}

.soup_heading {
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: #2c2c2c;
}

.left_soup .heading_1 {
    margin-bottom: 5px;
    padding-left: 5px;
}

.left_soup .heading_2 {
    margin-bottom: 0px;
    font-size: 15px;
    font-family: Montserrat-Medium_0;
}

.left_soup .heading_3 a {
    color: #2c2c2c;
}

.soup_div_part {
    padding: 10px 0px;
    border-bottom: 1px solid #2c2c2c;
}

/* ============fishing_diving_section==================================fishing_diving_section======== */
.fishing_diving_section {
    background-color: #fceee4;
}

.fishing_heading {
    color: #01bc8e;
    margin-left: 34px;
    font-size: 18px;
    display: inline-block;
    font-family: Montserrat-SemiBold_0;
    border-bottom: 1.5px solid #01bc8e;
}

.Diving_fish_address {
    font-family: Montserrat-Medium_0;
}

.Diving_fish_address h6 {
    font-family: Montserrat-Bold;
    font-size: 15px;
}

.Diving_fish_address a {
    color: #2c2c2c;
}

.Text_bold {
    font-family: Montserrat-Bold;
    font-size: 15px;
    padding-right: 7px;
}

/* =========== */
.guest_sec .flex-banner {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #d3d3d3;
    flex: 1;
    /* margin-bottom: 30px; */
}

.guest_sec .flex-banner .left-sec .text {
    padding: 13px
}
.guest_sec .flex-banner .left-sec .text i::before{
    color: #01bc8e !important;
}
.guest_sec .flex-banner .left-sec p {
    font-size: 12px;
    color: #2c2c2c;
    font-weight: 600;
    padding: 15px 15px 15px 5px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: Montserrat-Medium_0;
}

.guest_sec .flex-banner .right-sec {
    background: #01bc8e;
    width: 150px;
}

.guest_sec .flex-banner .right-sec .contain-div {
    margin: auto;
    display: flex;
    width: 150px;
    height: 100%;
    align-items: center;
    position: relative;
}

.guest_sec .flex-banner .right-sec .contain-div:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #01bc8e;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 30%;
    left: -15px;
}

.guest_sec .flex-banner .right-sec .contain-div a {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 0 20px;
}

.recommend_box a {
    color: #2c2c2c;
}

.left_soup a {
    color: #2c2c2c;
}

.safety_call_us a {
    color: #2c2c2c;
}





/* ========ipad pro===1024px */
@media only screen and (device-width:1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 75px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
}

/* ======ipad air ====== */
@media only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 60px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }
}

/* =========ipad mini====== */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 56px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }
}

/* ================iphone 14 pro max ======= */
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 60px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }
}

/* ===============iphone 13 pro max========  */

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 60px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }

    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 10px;
    }
}

/* ==============iphone 11 ============= */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 60px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 10px;
    }
}

/* ======iphone 11 pro max ====== */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 60px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }

}

/* ======iphone 6/7/8/plus====== */
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 60px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 53px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }
}

/* ========iphone 11 pro ====== */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 53px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }
}

/* ========iphone se======== */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio:2) {
    .banner_section .area_banner_image .area_banner_text {
        font-size: 53px;
    }

    .banner_section .area_banner_image img {
        object-fit: cover;
    }
    .safetytips_section .tips_content_images .tips_images_main {
        margin: auto;
        margin-bottom: 35px;
        float: none;
    }
    .recomended_section .recommend_box{
        height: auto;
    }
    .event_calendar_section .calc{
        margin-left: 5px;
    }
}

/* ============ */