body h1,
h3 {
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Orelega One', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Yeseva One', cursive;
}

/* -----------------------------font -family -------------------- */
@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat-SemiBold_0;
    src: url('../fonts/Montserrat-SemiBold_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat-Regular_0;
    src: url('../fonts/Montserrat-Regular_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat-Light_0;
    src: url('../fonts/Montserrat-Light_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat-Medium_0;
    src: url('../fonts/Montserrat-Medium_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat-ExtraLight_0;
    src: url('../fonts/Montserrat-ExtraLight_0.ttf') format("opentype")
}

@font-face {
    font-family: Montserrat-Thin_0;
    src: url('../fonts/Montserrat-Thin_0.ttf') format("opentype")
}

@font-face {
    font-family: Amigos-7BL14;
    src: url('../fonts/Amigos-7BL14.ttf') format("opentype")
}

.top_nav_sec .form-control::placeholder {
    color: #fff !important;
    opacity: 1;
    /* Firefox */
}

.top_nav_sec .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
}

.top_nav_sec .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
}

.contact_section .content_form .form-control::placeholder {
    color: #2c2c2c !important;
    opacity: 1;
    font-weight: 500;
    /* Firefox */
}


.form-control:focus {
    box-shadow: none;
}
.btn:focus {
    box-shadow: none;
}