
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-position-div {
    position: relative;
}

.top_nav_sec .t-input-check-in,
.top_nav_sec .t-input-check-out {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat-Medium_0;
    padding-bottom: 15px !important;
}

.top_nav_sec .check_in_i {
    position: absolute;
    top: 10px;
    right: 0px;
    color: #fff;
}

.m-datepicker .check_in_i {
    position: absolute;
    top: 45px;
    right: 6px;
    color: #000;
}

.m-datepicker .check_in_o {
    position: absolute;
    top: 45px;
    right: 6px;
    color: #000;
}

.top_nav_sec .check_in_o {
    position: absolute;
    top: 10px;
    right: 0px;
    color: #fff;
}

.top_nav_sec .pt_size {
    padding-top: 7px;
}

.checking {
    display: block;
}

.top_nav_sec {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.top_nav_sec .form-group {
    margin-bottom: 0px;
}

ul .first_span {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 3%;
    align-items: center;
    /* background: #18283B; */
    background: #0135c0;
}

.logo {
    position: relative;
    bottom: 46px;
}

ul {
    list-style: none;
    margin-bottom: 0px !important;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul .first_span li {
    margin-bottom: 35px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    font-size: 17.3px;
    font-family: Montserrat-Bold;
    transition: all .3s ease;
}

ul li a:hover,
ul li a.active {
    color: #FFF;
    text-decoration: none;
}

#icon {
    background-color: #0075FF;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#exampleModal {
    z-index: 99999;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #0075FF;
}

#checkbox,
#icon {
    display: none;
}

/* Youtube link */
.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -100px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}

.top_nav_sec nav .common_input_style {
    height: 40px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    background-color: #0135c0;
    color: #fff;
    outline: none;
    margin-right: 15px;
    font-size: 16px;
    font-family: Montserrat-Medium_0;
}

.top_nav_sec nav .common_input_style:focus {
    outline: none;
}

.top_nav_sec nav .book_now_btn {
    background: #01bc8e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
}

.top_nav_sec nav .show_hide_book {
    display: none;
}

.top_nav_sec nav .form-control {
    padding-left: 0px;
    padding-bottom: 10px;
}

.top_nav_sec nav select {
    padding-bottom: 4px;
}

.top_nav_sec nav .barnd_size {
    width: 140px;
    height: 50px;
}

.top_nav_sec nav .barnd_size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_nav_sec nav .Accommodation_btn {
    text-decoration: none;
    border: 1.5px solid #01bc8e;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    padding: 7px 30px;
    letter-spacing: 0.5px;
    font-size: 17.3px;
}

label {
    font-size: 15px;
    font-weight: 500;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 17.3px;
    border: none;
    cursor: pointer;
    font-family: Montserrat-Bold;
}

.dropbtn:focus {
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0135c0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #fff;
    border: 1px solid #fff;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0135c0;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */
.top_nav_sec nav .fa-chevron-down {
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.top_nav_sec nav .sec_li {
    margin-right: 20px;
}

.modal .booking_form .form-control {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
}

.modal .booking_form select {
    height: 40px;
    width: 100%;
    padding-left: 8px;
    border: 1px solid #ccc;
}

.modal .booking_form select:focus {
    outline: none;
}

.modal .mod_book_btn {
    background: #01bc8e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.modal .cancel_btn {
    background: #ccc;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
    border: none;
}

@media screen and (max-width: 768px) {
    .top_nav_sec nav {
        border-bottom: 1px solid #455468;
    }

    .top_nav_sec ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #18283B;
        left: 0;
        top: 30px;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    .top_nav_sec ul li {
        display: block;
        padding: 10px 15px;
    }

    .top_nav_sec ul li a {
        display: block;
        padding: 10px 0;

    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }

    .top_nav_sec nav .show_hide_book {
        display: block;
    }
}

/* ------------------ footer section ------------------- */
footer {
    background: #0135c0;
    color: #fff;
    padding: 70px 0px;
    text-align: center;
}

footer .img_size {
    width: 200px;
    height: 70px;
    margin: 0 auto;
}

footer .img_size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .foot_nav {
    margin: 50px 0px 20px 0px;
}

footer .foot_nav ul {
    padding: 0px;
    margin: 0px;
}

footer .foot_nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

footer .foot_nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17.3px;
    font-family: Montserrat-Bold;
}


footer .term_policy ul {
    padding: 0px;
    margin: 0px;
}

footer .term_policy ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

footer .term_policy ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17.3px;
    font-family: Montserrat-Medium_0;
}

footer .social_icon {
    margin: 40px 0px 30px 0px;
}

footer .social_icon .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
}

footer .social_icon .icon i {
    color: #0135c0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copy_right {
    font-family: Montserrat-Medium_0;
    font-size: 16px;
}

/* ---------------scroll top --------------- */
#scroll {
    z-index: 9;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #01bc8e;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    /* background-color:#e74c3c; */
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}