body {
    width: 100%;
    height: 100%;
}

/* Vertical Slider 100% Height */
.banner_section .vertical .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Vertical Slider Animation */
.banner_section .vertical .carousel-item-next.carousel-item-left,
.banner_section .vertical .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.banner_section .vertical .carousel-item-next,
.banner_section .vertical .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.banner_section .vertical .carousel-item-prev,
.banner_section .vertical .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

/* Vertical Ccarousel Indicators on Right */
.banner_section .carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 400px;
    margin: auto;
    height: 20px;
    right: 21px;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.banner_section .carousel-indicators>li {
    display: block;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    border: 0;
    background-color: rgb(40, 38, 38);
}

.banner_section .carousel-indicators li.active {
    margin-bottom: 5px;
    background: #00ffc0;
}

/* Vertical Carousel Controls on Right */
.banner_section .carousel.vertical .carousel-control-prev,
.banner_section .carousel.vertical .carousel-control-next {
    left: auto;
    right: 13.5px;
    width: 50px;
}

.banner_section .carousel.vertical .carousel-control-prev.up {
    top: 0;
    bottom: 50%;
}

.banner_section .carousel.vertical .carousel-control-next.down {
    top: 50%;
    bottom: 0;
}

.banner_section .carousel.vertical .carousel-control-prev.up i,
.banner_section .carousel.vertical .carousel-control-next.down i {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 2em;
}

.banner_section .carousel.vertical .carousel-control-prev.up i {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}

.banner_section .carousel.vertical .carousel-control-next.down i {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}

/* Vertical Carousel Captions Size */
.banner_section .carousel-caption {
    max-width: 100%;
    width: 100%;
    height: 100%;
    left: 0;
}

.banner_section .img_size_b {
    width: 100%;
    height: 655px;
}

.banner_section .img_size_b img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner_section .carousel-control-prev,
.banner_section .carousel-control-next {
    display: none;
}

.banner_section .carousel-inner .carousel-caption h5 {
    font-family: Montserrat-SemiBold_0;
    font-size: 20px;
    letter-spacing: 13px;
    position: relative;
    top: 110px;
    left: 19px;
    z-index: 0;
}

.banner_section .downarrow {
    position: absolute;
    right: 0px;
    top: 320px;
}

.banner_section .downarrow .rotate {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    transform: rotate(90deg);
    position: relative;
    bottom: 45px;
    left: 0px;
}

.banner_section .carousel-inner .carousel-caption p {
    font-family: Amigos-7BL14;
    font-size: 170px;
    color: #00ffc0;

}

/* ------------------accommondation------------------- */
.accommondation_section {
    background: #f8f3e7;
}

.accommondation_section .accommondation_bg .content {
    width: 840px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}

.accommondation_section .accommondation_bg .content h5 {
    font-size: 40px;
    font-family: Montserrat-SemiBold_0;
    line-height: 0.9;
}

.accommondation_section .accommondation_bg .content .line_1 {
    font-size: 40px;
    color: #01bc8e;
    font-family: Montserrat-Medium_0;
}

.accommondation_section .accommondation_bg .content .line_2 {
    font-size: 70px;
    font-family: Amigos-7BL14;
    margin: 20px 0px;
}

.accommondation_section .accommondation_bg .content .line_3 {
    font-size: 20px;
    font-family: Montserrat-Medium_0;
    color: #2c2c2c;
}

.accommondation_section .accommondation_bg .content .line_4 {
    font-size: 20px;
    font-family: Montserrat-SemiBold_0;
}

/* =============================amenities_section================== */

.amenities_section .img_content {
    position: relative;

}

.amenities_section .img_content .img_size {
    width: 100%;
    height: 750px;
}

.amenities_section .img_content .img_size img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.amenities_section .img_content .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 890px;
}

.amenities_section .img_content .content .para_1 {
    font-size: 130px;
    font-family: Amigos-7BL14;
    line-height: 0.3;
}

.amenities_section .img_content .content .para_2 {
    font-size: 40px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 50px;
}

.amenities_section .img_content .content .para_3,
.amenities_section .img_content .content .para_4,
.amenities_section .img_content .content .para_5 {
    font-size: 20px;
    font-family: Montserrat-Bold;
}

.amenities_section .img_content .content .img_star {
    width: 63px;
    height: 23px;
    margin: 30px auto;
}

.amenities_section .img_content .content .img_star img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.amenities_section .img_content .content .more_btn {
    text-decoration: none;
    background-color: #01bc8e;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    padding: 7px 30px;
    margin-top: 50px;
    letter-spacing: 0.5px;
}

.amenities_section .downarrow {
    position: absolute;
    right: 0px;
    top: 300px;
}

.amenities_section .downarrow .rotate {
    -ms-transform: rotate(20deg);
    color: #fff;
    /* IE 9 */
    transform: rotate(90deg);
    /* position: relative;
    bottom: 45px;
    left: 0px; */
}

.amenities_section .downarrow img {
    position: relative;
    left: 30px;
    top: 80px;
}

/* =============================advanture section================== */
.adventure_section .img_content {
    position: relative;
}

.adventure_section .img_content .img_size {
    width: 100%;
    height: 775px;
}

.adventure_section .img_content .img_size img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.adventure_section .img_content .content {
    position: absolute;
    top: 44%;
    left: 54%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 700px;
    color: #2c2c2c;
}

.adventure_section .img_content .content .para_1 {
    font-size: 130px;
    font-family: Amigos-7BL14;
    color: #2c2c2c;
    margin-bottom: 0;
    line-height: 1.3;
}

.adventure_section .img_content .content .para_2 {
    font-size: 40px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 15px;
}

.adventure_section .img_content .content .para_3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.adventure_section .img_content .content .para_4 {
    font-size: 20px;
    font-family: Montserrat-Medium_0;
    margin-bottom: 20px;
}

.adventure_section .img_content .content .para_5 {
    font-size: 22px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 10px;
}

.adventure_section .img_content .content .tex_green {
    color: #01bc8e;
}

.adventure_section .img_content .content .ch_fa {
    font-family: Montserrat-Bold;
}

.adventure_section .img_content .content .semi_bold {
    font-family: Montserrat-SemiBold_0;
}

.adventure_section .img_content .content .bottom_box {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.adventure_section .img_content .content .bottom_box .bx_1 {
    padding: 10px 20px;
    border: 2px solid #2c2c2c;
    font-size: 22px;
    font-family: Montserrat-Bold;

}

.adventure_section .img_content .content .more_btn {
    text-decoration: none;
    background-color: #01bc8e;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    padding: 7px 30px;
    letter-spacing: 0.5px;
}

/* -------------------- gallery section ---------------- */
.gallery_section {}

.gallery_section .main_sec {
    position: relative;
}

.gallery_section .main_sec .bg_img_size {
    width: 100%;
    height: 950px;
}

.gallery_section .main_sec .bg_img_size img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.gallery_section .main_sec .sub_div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 50px 50px 50px;
}

.gallery_section .main_sec .sub_div .top_content {
    padding-top: 50px;
    text-align: center;
    color: #fff;
}

.gallery_section .main_sec .sub_div .top_content .para_1 {
    font-size: 130px;
    font-family: Amigos-7BL14;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.3;
}

.gallery_section .main_sec .sub_div .top_content .para_2 {
    font-size: 40px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 15px;

}

.gallery_section .main_sec .sub_div .top_content .para_3 {
    font-size: 20px;
    font-family: Montserrat-Medium_0;
    margin-bottom: 10px;
}

.gallery_section .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.gallery_section .owl-nav button.owl-prev {
    left: -25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.gallery_section .owl-nav button.owl-next {
    right: -24px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.gallery_section .owl-dots {
    text-align: center;
    padding-top: 15px;
    display: none;
}

.gallery_section .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.gallery_section .owl-dots button.owl-dot.active {
    background-color: #000;
}

.gallery_section .owl-dots button.owl-dot:focus {
    outline: none;
}

.gallery_section .owl-nav button {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    background: #01bc8e !important;
}

.gallery_section span {
    font-size: 70px;
    position: relative;
    top: -40px;
    color: #fff;
}

.gallery_section .owl-nav button:focus {
    outline: none;
}

.gallery_carousel .item .img_size {
    width: 100%;
    height: 250px;
}

.gallery_carousel {
    margin: 50px 0px;
}

.gallery_carousel .item .img_size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_section .sub_div .more_btn {
    text-decoration: none;
    background-color: #01bc8e;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    padding: 7px 30px;
    letter-spacing: 0.5px;
}

/* -- ----------- contact  section  -------------- -- */
.contact_section {}

.contact_section .img_content {
    position: relative;
}

.contact_section .img_content .img_size {
    width: 100%;
    height: 850px;
}

.contact_section .img_content .img_size img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.contact_section .content_form {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 100px 40px;
}

.contact_section .content_form .form-control {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #2c2c2c;
    padding-left: 0px;
    padding-bottom: 15px;
    background: transparent;
}

.contact_section .content_form .form-group {
    margin-bottom: 30px;
}

.contact_section .content_form .text_line_1 {
    font-size: 130px;
    font-family: Amigos-7BL14;
    margin-bottom: 0;
    line-height: 1;
}

.contact_section .content_form .text_line_2 {
    font-size: 20px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 45px;
}

.contact_section .content_form .text_line_3 {
    font-size: 30px;
    font-family: Montserrat-Bold;
}

.contact_section .content_form .text_line_4 {
    font-size: 20px;
    font-family: Montserrat-SemiBold_0;
}

.contact_section .content_form .text_line_5 {
    font-size: 20px;
    font-family: Montserrat-SemiBold_0;
}

.contact_section .content_form form {
    padding: 50px 0px;
}

.contact_section .content_form button {
    background: #01bc8e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
    float: right;
}

.contact_section .content_form button:focus {
    box-shadow: none;
}

/* -------------------- arrivel_address ---------- */
.bupndY {
    background: none !important;
    color: #fff;
}

.hoIbJc {
    color: #fff !important;
}

.jnjTTE,
.eEkVyB,
.buLMsu {
    color: #fff !important;
}

.arrivel_address {
    background: #0135c0;
    padding: 25px 0px;
    color: #fff;
}

.border_right {
    border-right: 1px solid #fff;
}

.arrivel_address .address {
    padding: 0px 25px;
}

.arrivel_address .address h5 {
    border-bottom: 1px solid #fff;
    font-size: 20px;
    display: inline;
    font-family: Montserrat-Bold;
    margin-bottom: 13px;
}

.arrivel_address .address p {
    margin-top: 10px;
    font-size: 16px;
    font-family: Montserrat-SemiBold_0;
}

.arrivel_address .review {
    padding: 0px 25px;
    text-align: center;
}

.arrivel_address .review .img_size {
    width: 150px;
    height: 44px;
    margin: 0 auto;
}

.arrivel_address .review .img_size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrivel_address .review h5 {
    font-size: 20px;
    font-family: Montserrat-Bold;
    margin: 15px 0px;
}

.arrivel_address p span {
    font-size: 24px;
    font-family: Montserrat-Bold;
}

.arrivel_address p img {
    height: 22px;
    position: relative;
    bottom: 6px;
    margin-left: 11px;
}

.arrivel_address .review .lt_r {
    font-size: 16px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 0px;
    margin-top: 10px;
}

/* ------------queen_room_section --------------- */
.queen_room_section {
    background: #f8f3e7;
    padding: 100px 40px;
}

.queen_room_section .left_tab .nav-pills .left_content {
    border-bottom-style: dotted
}

.queen_room_section .left_tab .nav-pills .left_content .dot_text {
    display: flex;
}

.queen_room_section .left_tab .nav-pills .left_content .dot_text i {
    width: 25px;
    margin-top: 5px;
    color: #01bc8e;
}

.queen_room_section .left_tab .nav-pills .left_content .dot_text .text h5 {
    font-size: 22px;
    font-family: Montserrat-SemiBold_0;
    margin-bottom: 15px;
}

.queen_room_section .left_tab .nav-pills .left_content .dot_text .text p {
    font-family: Montserrat-Regular_0;
    font-size: 19px;
    margin-bottom: 25px;
}

.queen_room_section .nav-pills .nav-link.active .left_content .dot_text .text h5 {
    color: #01bc8e;
}

.queen_room_section .nav-pills .nav-link:hover .left_content .dot_text .text h5 {
    color: #01bc8e;
}

.queen_room_section .nav-pills .nav-link.active {
    color: #2c2c2c;
    background-color: transparent;
}

.queen_room_section .nav-pills .nav-link {
    color: #2c2c2c;
    padding-bottom: 25px;
}

.queen_room_section .right_tab {
    padding: 0px 30px;
}

.queen_room_section .right_tab .common_content_right .common_header {
    width: 470px;
    margin-bottom: 35px;
}

.queen_room_section .right_tab .common_content_right .common_header h5 {
    font-size: 40px;
    font-family: Montserrat-SemiBold_0;
}

.queen_room_section .right_tab .common_content_right .common_header p {
    font-size: 20px;
    font-family: Montserrat-Medium_0;
}

.queen_room_section .right_tab .common_content_right .room_carousel .item .img_size {
    width: 100%;
    height: 320px;
}

.queen_room_section .right_tab .common_content_right .room_carousel .item .img_size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.queen_room_section .right_tab .common_content_right .room_carousel .owl-nav {
    position: absolute;
    top: -55px;
    right: 0px;
}

.queen_room_section .right_tab .common_content_right .room_carousel .owl-nav button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #01bc8e !important;
}

.queen_room_section .right_tab .common_content_right .room_carousel .owl-nav button:focus,
.queen_room_section .right_tab .common_content_right .room_carousel .owl-nav button span:focus {
    outline: 0px !important;
    border: 0px !important;
}

.queen_room_section .right_tab .common_content_right .room_carousel .owl-nav button span {
    font-size: 70px;
    color: #fff;
    position: relative;
    top: -40px;
}

.queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-prev {
    margin-right: 10px;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel {
    margin-top: 30px;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel .item .img_text .img_size {
    width: 80px;
    height: 80px;
    border: 1px solid #2c2c2c;
    margin: 0 auto 25px;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel .item .img_text .img_size img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel .item .img_text p {
    text-align: center;
    font-size: 18px;
    font-family: Montserrat-Medium_0;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel .owl-nav button.owl-prev {
    left: -30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel span {
    font-size: 50px;
    position: relative;
    top: -40px;
    color: #fff;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel .owl-nav button.owl-next {
    right: -30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel span {
    font-size: 50px;
    position: relative;
    top: -40px;
    color: #2c2c2c;
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel .owl-nav button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    /* background: #01bc8e !important; */
}

.queen_room_section .right_tab .common_content_right .room_amenities_carousel .owl-nav button:focus {
    outline: none;
}

.queen_room_section .right_tab .common_content_right .bot_two_btn .book_assec {
    display: flex;
    justify-content: end;
}

.queen_room_section .right_tab .common_content_right .bot_two_btn button {
    background-color: #01bc8e;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    padding: 7px 30px;
    letter-spacing: 0.5px;
    margin-right: 20px;
}

.queen_room_section .right_tab .common_content_right .bot_two_btn {}

.queen_room_section .right_tab .common_content_right .bot_two_btn button:focus {
    box-shadow: none;
}

.queen_room_section .right_tab .common_content_right .bot_two_btn a {
    text-decoration: none;
    border: 1.5px solid #01bc8e;
    color: #01bc8e;
    display: inline-block;
    border-radius: 30px;
    text-transform: capitalize;
    font-family: Montserrat-Bold;
    padding: 7px 30px;
    letter-spacing: 0.5px;
}

.queen_room_section .item .img_size {
    width: 100%;
    height:317px
}

.queen_room_section .item .img_size img {
    width: 100%;
    height: 100%;
}

/* ------------ booking for, dection ---------- */