/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .arrivel_address .address {}
}

/* ipad air  */
@media only screen and (max-device-width: 820px) {

    /* ------------------- navbar ---------  */
    .top_nav_sec .first_span {
        display: none !important;
    }
    .top_nav_sec nav .show_hide_book {
        display: block;
    }
    .top_nav_sec nav .sec_li {
        margin-bottom: 20px;
    }
    nav {
        padding-bottom: 0px !important;
    }
    .logo {
        position: relative;
        bottom: 10px;
    }

    /* ----------- accommondation -------- */
    .accommondation_section .accommondation_bg .content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .arrivel_address .review {
        margin-top: 50px;
    }

    /* -------- contact --------- */
    .contact_section .mobile_not_showing {
        display: none;
    }

    /* ------------ gallery ------------ */
    .gallery_section .main_sec .sub_div .top_content {
        padding: 20px 0px;
    }

    .gallery_carousel {
        margin: 25px 0px;
    }

    /* ----------------adventure -------------- */
    .adventure_section {
        background: #f8f3e7;
    }

    .adventure_section .img_content .content {
        width: 100%;
    }

    .adventure_section .img_content .img_size {
        display: none;
    }

    .adventure_section .img_content .content {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center;
        padding: 20px 20px;
    }

    /* ------------amenities ------------ */
    .amenities_section .img_content .content {
        width: 100%;
    }

    .amenities_section .img_content .content {
        padding: 20px;
    }
    .amenities_section .downarrow {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* ------------ navbar -------- */
    .logo {
        bottom: 0px;
    }
    .top_nav_sec ul {
        top: 5px !important;
    }
     .top_nav_sec ul {
        top: 19px !important;
    }
    nav {
        padding-bottom: 3% !important;
    }
    .top_nav_sec nav .sec_li {
        text-align: start;
    }

    /* ---------accommondation ----------- */
    .accommondation_section .accommondation_bg .content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .arrivel_address .review {
        margin-top: 50px;
    }

    /* -------------- contact ------------- */
    .contact_section .mobile_not_showing {
        display: block;
    }

    .contact_section .mobile_not_showing {
        display: none;
    }

    /* ------------ gallery ------------ */
    .gallery_section .main_sec .sub_div .top_content {
        padding: 20px 0px;
    }

    .gallery_carousel {
        margin: 25px 0px;
    }

    /* ----------------adventure -------------- */
    .adventure_section {
        background: #f8f3e7;
    }

    .adventure_section .img_content .content {
        width: 100%;
    }

    .adventure_section .img_content .img_size {
        display: none;
    }

    .adventure_section .img_content .content {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center;
        padding: 20px 20px;
    }

    /* ------------amenities ------------ */
    .amenities_section .img_content .content {
        width: 100%;
    }

    .amenities_section .img_content .content {
        padding: 20px;
    }
    .amenities_section .downarrow {
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner_section .downarrow {
        display: none;
    }
    /* ------------review & accommondation ------------ */
    .accommondation_section .accommondation_bg .content h5 {
        font-size: 35px;
    }

    .accommondation_section .accommondation_bg .content {
        width: 100%;
    }

    .accommondation_section .accommondation_bg .content .line_1 {
        font-size: 30px;
    }

    .accommondation_section .accommondation_bg .content .line_2 {
        font-size: 50px;
    }

    .arrivel_address .address {
        margin-bottom: 30px;
        text-align: center;
    }

    /* ------------amenities ------------ */
    .amenities_section .img_content .content {
        width: 100%;
    }
    .amenities_section .downarrow {
        display: none;
    }
}

/* /* ---- iphone 13pro max ---------- */
@media only screen and (max-device-width: 430px) {

    /* ---------Navbar section  -------- */
    .top_nav_sec ul {
        top: 17px !important;
    }
    nav {
        padding-bottom: 3% !important;
    }
    .first_span {
        display: none !important;
    }

    .top_nav_sec nav .sec_li {
        text-align: left;
    }

    .logo {
        position: relative;
        bottom: 7px;
    }
    

    /* ---------banner -------- */
    .banner_section .carousel-indicators {
        bottom: 0;
        height: 20px;
        right: 0px;
    }
    .banner_section .downarrow {
        display: none;
    }
    .banner_section .img_size_b {
        height: 380px;
    }

    .banner_section .carousel-inner .carousel-caption p {
        font-size: 100px;
    }

    .banner_section .carousel-caption {
        height: 100%;
    }

    .banner_section .carousel-inner .carousel-caption h5 {
        letter-spacing: 5px;
        top: 67px;
    }

    /* ------------review & accommondation ------------ */
    .accommondation_section .accommondation_bg .content h5 {
        font-size: 30px;
    }

    .accommondation_section .accommondation_bg .content {
        width: 100%;
    }

    .accommondation_section .accommondation_bg .content .line_1 {
        font-size: 28px;
    }

    .accommondation_section .accommondation_bg .content .line_2 {
        font-size: 40px;
    }

    .arrivel_address .address {
        margin-bottom: 30px;
        text-align: center;
    }

    .accommondation_section .accommondation_bg .content .line_3,
    .accommondation_section .accommondation_bg .content .line_4 {
        font-size: 17px;
    }

    /* ---------- footer -------------- */
    footer .foot_nav ul,
    footer .term_policy ul {
        padding: 0px 20px;
    }

    footer .copy_right {
        padding: 0px 20px;
    }

    /* ----------- contact ------------- */
    .contact_section .mobile_not_showing {
        display: none;
    }

    /* ------------ gallery ------------ */
    .gallery_section .main_sec .sub_div .top_content {
        padding: 20px 0px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_1 {
        font-size: 80px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_2 {
        font-size: 20px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_3 {
        font-size: 16px;
    }

    .gallery_carousel {
        margin: 25px 0px;
    }

    /* ----------------adventure -------------- */
    .adventure_section {
        background: #f8f3e7;
    }

    .adventure_section .img_content .content {
        width: 100%;
    }

    .adventure_section .img_content .img_size {
        display: none;
    }

    .adventure_section .img_content .content {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center;
        padding: 20px 20px;
    }

    .adventure_section .img_content .content .para_2 {
        font-size: 35px;
    }

    .adventure_section .img_content .content .bottom_box .bx_1 {
        font-size: 14px;
        padding: 10px 15px;
    }

    /* ----------------amenities -------------- */
    .amenities_section .downarrow {
        display: none;
    }
    .amenities_section .img_content .content {
        padding: 20px;
    }

    .amenities_section .img_content .content .para_1 {
        font-size: 80px;
    }

    .amenities_section .img_content .content .para_2 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .amenities_section .img_content .content .img_star {
        margin: 20px auto;
    }

    .amenities_section .img_content .content .para_3,
    .amenities_section .img_content .content .para_4,
    .amenities_section .img_content .content .para_5 {
        font-size: 17px;
    }

    /* ----------------room  -------------- */
    .queen_room_section {
        padding: 50px 20px;
    }

    .queen_room_section .left_tab {
        margin-bottom: 40px;
    }

    .queen_room_section .right_tab .common_content_right .common_header {
        width: 100%;
    }

    .queen_room_section .right_tab .common_content_right .common_header h5 {
        font-size: 35px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav {
        top: 41%;
        right: 100px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-prev {
        position: absolute;
        right: 198px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-next {
        position: absolute;
        left: 80px;
    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn .book_assec {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn button {
        margin-bottom: 20px;
        margin-right: 0px;

    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn button,
    .queen_room_section .right_tab .common_content_right .bot_two_btn a {
        width: 100%;
        text-align: center;
    }

}

/* /* ---- iphone XR max ---------- */
@media only screen and (max-device-width: 414px) {
    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-prev {
        position: absolute;
        right: 180px;
    }
    .banner_section .downarrow {
        display: none;
    }
    .banner_section .carousel-indicators {
        bottom: 0;
        height: 20px;
        right: 0px;
    }
    .amenities_section .downarrow {
        display: none;
    }
}

/* pixel 5  ----------- */
@media only screen and (max-device-width: 393px) {
    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-prev {
        position: absolute;
        right: 165px;
    }
    .banner_section .downarrow {
        display: none;
    }
    .banner_section .carousel-indicators {
        bottom: 0;
        height: 20px;
        right: 0px;
    }
    .amenities_section .downarrow {
        display: none;
    }
}

/* iPhone 12 pro ----------- */
@media only screen and (max-device-width: 390px) {
    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-prev {
        position: absolute;
        right: 160px;
    }
    .banner_section .downarrow {
        display: none;
    }
    .banner_section .carousel-indicators {
        bottom: 0;
        height: 20px;
        right: 0px;
    }
    .amenities_section .downarrow {
        display: none;
    }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (max-device-width: 375px) {
    /* ---------Navbar section  -------- */
    .top_nav_sec ul {
        top: 15px !important;
    }

    /* ---------banner -------- */
    .banner_section .carousel-indicators {
        bottom: 0;
        height: 20px;
        right: 0px;
    }
    .banner_section .downarrow {
        display: none;
    }
    .banner_section .img_size_b {
        height: 380px;
    }

    .banner_section .carousel-inner .carousel-caption p {
        font-size: 95px;
    }

    .banner_section .carousel-caption {
        height: 100%;
    }

    .banner_section .carousel-inner .carousel-caption h5 {
        letter-spacing: 5px;
        top: 67px;
    }

    /* ------------review & accommondation ------------ */
    .accommondation_section .accommondation_bg .content h5 {
        font-size: 30px;
    }

    .accommondation_section .accommondation_bg .content {
        width: 100%;
    }

    .accommondation_section .accommondation_bg .content .line_1 {
        font-size: 28px;
    }

    .accommondation_section .accommondation_bg .content .line_2 {
        font-size: 40px;
    }

    .arrivel_address .address {
        margin-bottom: 30px;
        text-align: center;
    }

    .accommondation_section .accommondation_bg .content .line_3,
    .accommondation_section .accommondation_bg .content .line_4 {
        font-size: 17px;
    }

    /* ------------------ footer ------------- */
    footer .copy_right {
        padding: 0px 20px;
    }

    footer .foot_nav ul,
    footer .term_policy ul {
        padding: 0px 20px;
    }

    /* ------------- contact ----------- */
    .contact_section .mobile_not_showing {
        display: none;
    }

    .contact_section .content_form form {
        padding: 0px;
    }

    /* ------------ gallery ------------ */
    .gallery_section .main_sec .sub_div .top_content {
        padding: 20px 0px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_1 {
        font-size: 80px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_2 {
        font-size: 20px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_3 {
        font-size: 16px;
    }

    .gallery_carousel {
        margin: 25px 0px;
    }

    /* ----------------adventure -------------- */
    .adventure_section {
        background: #f8f3e7;
    }

    .adventure_section .img_content .content {
        width: 100%;
    }

    .adventure_section .img_content .img_size {
        display: none;
    }

    .adventure_section .img_content .content {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center;
        padding: 20px 20px;
    }

    .adventure_section .img_content .content .para_2 {
        font-size: 35px;
    }

    .adventure_section .img_content .content .bottom_box .bx_1 {
        font-size: 14px;
        padding: 10px 15px;
    }

    /* ----------------amenities -------------- */
    .amenities_section .downarrow {
        display: none;
    }
    .amenities_section .img_content .content {
        padding: 20px;
    }

    .amenities_section .img_content .content .para_1 {
        font-size: 80px;
    }

    .amenities_section .img_content .content .para_2 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .amenities_section .img_content .content .img_star {
        margin: 20px auto;
    }

    .amenities_section .img_content .content .para_3,
    .amenities_section .img_content .content .para_4,
    .amenities_section .img_content .content .para_5 {
        font-size: 17px;
    }

    /* ----------------room  -------------- */
    .queen_room_section {
        padding: 50px 20px;
    }

    .queen_room_section .left_tab {
        margin-bottom: 40px;
    }

    .queen_room_section .right_tab .common_content_right .common_header {
        width: 100%;
    }

    .queen_room_section .right_tab .common_content_right .common_header h5 {
        font-size: 35px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav {
        top: 41%;
        right: 100px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-prev {
        position: absolute;
        right: 145px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-next {
        position: absolute;
        left: 80px;
    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn .book_assec {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn button {
        margin-bottom: 20px;
        margin-right: 0px;

    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn button,
    .queen_room_section .right_tab .common_content_right .bot_two_btn a {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
}

/* samsung galaxy  */
@media only screen and (max-device-width: 360px) {

    /* ---------banner -------- */
    .banner_section .carousel-indicators {
        bottom: 0;
        height: 20px;
        right: 0px;
    }
    .banner_section .downarrow {
        display: none;
    }
    .banner_section .img_size_b {
        height: 380px;
    }

    .banner_section .carousel-inner .carousel-caption p {
        font-size: 95px;
    }

    .banner_section .carousel-caption {
        height: 100%;
    }

    .banner_section .carousel-inner .carousel-caption h5 {
        letter-spacing: 5px;
        top: 67px;
    }

    /* ------------ content:  -----------; */
    .contact_section .mobile_not_showing {
        display: none;
    }

    .contact_section .content_form form {
        padding: 0px;
    }

    /* ------------ gallery ------------ */
    .gallery_section .main_sec .sub_div .top_content {
        padding: 20px 0px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_1 {
        font-size: 80px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_2 {
        font-size: 20px;
    }

    .gallery_section .main_sec .sub_div .top_content .para_3 {
        font-size: 16px;
    }

    .gallery_carousel {
        margin: 25px 0px;
    }

    /* ----------------adventure -------------- */
    .adventure_section {
        background: #f8f3e7;
    }

    .adventure_section .img_content .content {
        width: 100%;
    }

    .adventure_section .img_content .img_size {
        display: none;
    }

    .adventure_section .img_content .content {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center;
        padding: 20px 20px;
    }

    .adventure_section .img_content .content .para_2 {
        font-size: 35px;
    }

    .adventure_section .img_content .content .bottom_box .bx_1 {
        font-size: 14px;
        padding: 10px 15px;
    }

    /* ----------------amenities -------------- */
    .amenities_section .downarrow {
        display: none;
    }
    .amenities_section .img_content .content {
        padding: 20px;
    }

    .amenities_section .img_content .content .para_1 {
        font-size: 80px;
    }

    .amenities_section .img_content .content .para_2 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .amenities_section .img_content .content .img_star {
        margin: 20px auto;
    }

    .amenities_section .img_content .content .para_3,
    .amenities_section .img_content .content .para_4,
    .amenities_section .img_content .content .para_5 {
        font-size: 17px;
    }

    /* ----------------room  -------------- */
    .queen_room_section {
        padding: 50px 20px;
    }

    .queen_room_section .left_tab {
        margin-bottom: 40px;
    }

    .queen_room_section .right_tab .common_content_right .common_header {
        width: 100%;
    }

    .queen_room_section .right_tab .common_content_right .common_header h5 {
        font-size: 35px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav {
        top: 41%;
        right: 100px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-prev {
        position: absolute;
        right: 100px;
    }

    .queen_room_section .right_tab .common_content_right .room_carousel .owl-nav .owl-next {
        position: absolute;
        left: 80px;
    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn .book_assec {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn button {
        margin-bottom: 20px;
        margin-right: 0px;

    }

    .queen_room_section .right_tab .common_content_right .bot_two_btn button,
    .queen_room_section .right_tab .common_content_right .bot_two_btn a {
        width: 100%;
    }

}